<header class="page-header">
  <h2>Manage Ingredients</h2>
  <nav id="page-navigation">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#ingredients/overview"><i class="fas fa-list"></i> Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ingredients/add"><i class="fas fa-plus"></i> Add Ingredient</a>
      </li>
    </ul>
  </nav>
</header>

<article class="page-content">
  <section>
    <!-- page content -->
  </section>
</article>

<footer class="page-footer">

</footer>
