<h3>Delete Reservation</h3><hr />
<div class="row">
  <div class="col-sm-2"><strong>Guest</strong></div>
  <div class="col-sm-4" id="guest"></div>
  <div class="col-sm-6" id="guest_delete"><input type="checkbox" id="checkbox_delete_guest" checked /><label for="checkbox_delete_guest">Delete Guest data</label></div>
</div>
<div class="row">
  <div class="col-sm-2"><strong>Reservation</strong></div>
  <div class="col-sm-10" id="reservation"></div>
</div>
<div class="row" style="padding:10px;" id="delete_options">
  <button class="btn btn-primary ">Delete Reservation</button> <a href="#reservations/overview" role="button" class="btn btn-light">Back to Overview</a>
</div>
