<div>
  <h3><span>Add Reservation</span></h3><hr />
    <form>
      <div class="form-group row">
         <div class="col-sm-2 col-form-label"><strong><i class="fas fa-user"></i> Guest</strong></div>
         <div class="form-group col-md-4">
           <label for="firstname">First name</label>
           <input type="text" class="form-control" id="firstname" autocomplete="off" />
         </div>
         <div class="form-group col-md-2">
           <label for="preposition">Preposition</label>
           <input type="text" class="form-control" id="preposition" autocomplete="off" />
         </div>
         <div class="form-group col-md-4">
           <label for="lastname">Last name</label>
           <input type="text" class="form-control" id="lastname" autocomplete="off" />
         </div>
       </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label"></div>
        <div class="form-group col-md-5">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" id="email" autocomplete="off" />
        </div>

        <div class="form-group col-md-5">
          <label for="telephone">Telephone</label>
          <input type="text" class="form-control" id="telephone" autocomplete="off" />
        </div>
      </div>

  <hr />
      <div class="form-group row" id="reservation" data-hidebefore="guest">
        <div class="col-sm-2 col-form-label"><strong><i class="far fa-calendar"></i> Reservation</strong></div>

        <div class="form-group col-md-3">
          <label for="date">Date</label>
          <input type="text" class="form-control" id="date" autocomplete="off" />
        </div>
        <div class="form-group col-md-3">
          <label for="time_arrival">Time Arrival</label>
          <div class="input-group bootstrap-timepicker timepicker">

            <input type="text" class="form-control" id="time_arrival" autocomplete="off"  />
            <span class="input-group-append">
                <a class="btn rounded-right datepickerbutton selectTime" role="button" tabindex="0" title="Choose time...">
                    <i class="far fa-clock"></i>
                </a>
            </span>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="time_depart">Time Depart</label>
          <div class="input-group bootstrap-timepicker timepicker">

            <input type="text" class="form-control" id="time_depart" autocomplete="off"  />
            <span class="input-group-append">
                <a class="btn rounded-right datepickerbutton selectTime" role="button" tabindex="0" title="Choose time...">
                    <i class="far fa-clock"></i>
                </a>
            </span>
          </div>
        </div>
        <div class="form-group col-md-2 offset-md-2">
          <label for="persons">Persons</label>
          <input type="number" class="form-control" id="persons" autocomplete="off" />
        </div>
        <div class="form-group col-md-2">
          <label for="table_select">Table</label>
          <select multiple="multiple" class="form-control browser-default" id="table_select">

          </select>
        </div>
      </div>





      <div class="row" style="padding:10px;" id="add_options"  data-hidebefore="guest">
        <button class="btn btn-primary ">Save Reservation</button> <a href="#reservations/overview" role="button" class="btn btn-light">Cancel</a>
      </div>
    </form>
</div>
