<h3>Delete Reservation</h3><hr />

<div class="row">

  <div class="card">
  <h5 class="card-header">Are you sure you want to delete this reservation?</h5>
  <div class="card-body">
    Reservation for <strong id="guest"></strong>
    <p class="card-text" id="reservation"></p>

  </div>
  </div>
</div>

<div class="row" style="padding:10px;" id="delete_options">
  <button class="btn btn-primary "><i class="fas fa-minus-circle"></i> Delete Reservation</button> <a href="#reservations/overview" role="button" class="btn btn-light overview-link">Back to Overview</a>
</div>
